.Footer-container{
    padding: 0 70px 30px 70px;
}
.Footer-flex-container {
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px; */
    border-bottom:1px solid rgb(206, 206, 206);
}
.Footer-flex-container p {
    font-weight: 250;
}
.Footer-flex-container h6 {
    font-weight: 400;
}
.Copyright-right-flex {
    display: flex;
    justify-content: space-between;
}
.Copyright-right-flex img {
    width: 20px;
    height: 20px;
}
.Copyright-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.Copyright-left-flex span:not(:last-child) {
    margin-right: 5px;
}
.Copyright-right-flex-country span {
    padding: 0 15px 0 15px;
}
.Copyright-right-flex-socialmedia span {
    padding: 0 15px 0 15px;
}