.container {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 70px; 
}
.container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.container li {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}
.container li:hover{
    background-color: gray;
   
}
button {
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    padding: 10px 10px 5px 10px;
    font-weight: 500;
    font-size: 15px;
    
}
button:hover {
    box-shadow: -1px 6px 15px -6px rgba(0, 0, 0, 0.4);
}
.logo {
    width: 150px;
    padding-top: 15px;
}