.container {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 70px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
li {
    margin-right: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
}
li:hover{
    background-color: wheat;
    padding: 10px 0px 10px 0px;
}