.info {
    background-color: wheat;
    padding: 50px 70px 50px 70px;
}
.stay {
    font-weight: 500;
    /* padding: 0px 70px 0px 70px; */
}
.info-four-list {
    display: flex;
    justify-content: space-between;
}
.info-four-list h3 {
    font-weight: 450;
}
.info-four-list ul {
    padding: 0;
}