h2 {
    color: red;
    font-size: 15px;
    font-weight: 200;
}
.picture {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
/* .picture img {
    width: 400px;
} */
.card {
    width: 350px;
    height: 350px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: -1px 10px 15px -6px rgba(0, 0, 0, 0.4);;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding-left: 15px;
}
.card-text h2{
    font-weight: 600;
}